{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Bienvenue dans la page Home</h1>
<a href="{{ path('eleve_index') }}">Liste eleves</a>
{% endblock %}
