{% extends 'base.html.twig' %}

{% block title %}New FicheInscription{% endblock %}

{% block body %}
    <h1>Create new FicheInscription</h1>

    {{ include('fiche_inscription/_form.html.twig') }}

    <a href="{{ path('fiche_inscription_index') }}">back to list</a>
{% endblock %}
